@font-face {
  font-family: Nerd;
  src: url("./3270\ Narrow\ Nerd\ Font\ Complete.ttf") format("ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: #222;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Grid settings */
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 0.2fr 2.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header"
    "Albums Songs"
    "Albums Controls";
}
.Header {
  grid-area: Header;
}
.Albums {
  grid-area: Albums;
}
.Controls {
  grid-area: Controls;
}
.Songs {
  grid-area: Songs;
}
